@import "../biyi-big-board.base.less";

body,
html {
  --base-size: 25px;
}

@media (min-width: 1px) and (min-height: 1px) {
  body,
  html {
    --rhv-base-font-size: 0.5px;
  }
}

@media (min-width: 150px) and (min-height: 75px) {
  body,
  html {
    --rhv-base-font-size: calc(0.05 * var(--base-size));
  }
}

@media (min-width: 300px) and (min-height: 150px) {
  body,
  html {
    --rhv-base-font-size: calc(0.1 * var(--base-size));
  }
}

@media (min-width: 600px) and (min-height: 300px) {
  body,
  html {
    --rhv-base-font-size: calc(0.2 * var(--base-size));
  }
}

@media (min-width: 900px) and (min-height: 500px) {
  body,
  html {
    --rhv-base-font-size: calc(0.3 * var(--base-size));
  }
}

@media (min-width: 1200px) and (min-height: 700px) {
  body,
  html {
    --rhv-base-font-size: calc(0.4 * var(--base-size));
  }
}

@media (min-width: 1600px) and (min-height: 900px) {
  body,
  html {
    --rhv-base-font-size: calc(0.5 * var(--base-size));
  }
}

@media (min-width: 1900px) and (min-height: 1000px) {
  body,
  html {
    --rhv-base-font-size: calc(0.6 * var(--base-size));
  }
}

@media (min-width: 2200px) and (min-height: 1200px) {
  body,
  html {
    --rhv-base-font-size: calc(0.7 * var(--base-size));
  }
}

@media (min-width: 2500px) and (min-height: 1400px) {
  body,
  html {
    --rhv-base-font-size: calc(0.8 * var(--base-size));
  }
}

@media (min-width: 2800px) and (min-height: 1600px) {
  body,
  html {
    --rhv-base-font-size: calc(0.9 * var(--base-size));
  }
}

@media (min-width: 3200px) and (min-height: 1800px) {
  body,
  html {
    --rhv-base-font-size: var(--base-size);
  }
}
