@import "../biyi-big-board.base.less";

.ruler-border {
  border-width: 0px 1px 0px 1px;
  border-style: solid;
  border-color: rgba(171, 214, 255, 0.2);
}

.tick-border {
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: rgba(171, 214, 255, 0.2);
}

.ruler-name {
  top: 0;
  left: var(--rhv-size-2);
  font-size: var(--rhv-size-3-half);
}

.rank-table table {
  border-spacing: 0 var(--rhv-size-3) !important;
}

.timeline-table .rank-table table {
  border-spacing: 0 0 !important;
}

.rank-table-header table {
  border-spacing: 0 !important;
}

.ant-table-thead > tr > th {
  padding: 0 !important; //var(--rhv-size-3) 0;
}

.ant-table-tbody > tr > td {
  padding: 0 !important; //var(--rhv-size-3) 0;
}
