<rh-page-frame
  rhTitle="{{ workshopInfo.dataset.category }}产线看板"
  rhBgImg="assets/img/biyi/车间看板_BG.png"
  rhHeaderImg="assets/img/biyi/车间看板_BG_顶部.png"
  [rhCenterTitleClicked]="openWorkshopSelectModal"
>
  <div class="flex flex-col w-full h-full overflow-auto rhv-padding-h">
    <div class="flex w-full justify-start">
      <!-- <div class="rhv-margin-8-right">设备总数：{{ sumQty }}</div> -->
      <div class="flex items-center rhv-margin-8-right gap-1">
        <div class="status status-running"></div>
        运行<!-- ：{{ summaryData[1] }} -->
      </div>
      <div class="flex items-center rhv-margin-8-right gap-1">
        <div class="status status-error"></div>
        异常<!-- ：{{ summaryData[2] }} -->
      </div>
      <div class="flex items-center rhv-margin-8-right gap-1">
        <div class="status status-down"></div>
        停线<!-- ：{{ summaryData[3] }} -->
      </div>
      <div class="flex items-center rhv-margin-8-right gap-1">
        <div class="status status-rest"></div>
        休息<!-- ：{{ summaryData[1] }} -->
      </div>
      <div class="flex items-center rhv-margin-8-right gap-1">
        <div class="status status-standby"></div>
        空闲<!-- ：{{ summaryData[0] }} -->
      </div>
    </div>
    <div class="flex-1 w-full overflow-auto rhv-padding-bottom"
         [class.uniform-spacing-container]="uniformSpacing > 0">
      <nz-table
        nzTemplateMode
        [nzWidthConfig]="widthConfig"
        class="auto-height-table"
        [style.opacity]="linesData.dataset.dataLoading ? 0.7 : 1"
      >
        <thead>
          <tr>
            <th colspan="13">当日产线信息统计</th>
            <th colspan="11">
              <nz-month-picker
                style="
                  width: calc(4 * var(--rhv-size));
                  padding: 0;
                  border: 0;
                  text-decoration: underline;
                "
                nzSize="small"
                [(ngModel)]="monthInfo"
                nzPlaceHolder="月份"
                [nzAllowClear]="false"
                [nzSuffixIcon]="null"
                [nzInputReadOnly]="true"
                (ngModelChange)="handleMonthChanged($event)"
              ></nz-month-picker
              >当月产线信息统计
              <div class="inline-export-btn-area">
                <span (click)="handleExportMonthData()"> 导出 </span>
              </div>
            </th>
          </tr>
          <tr class="bg-tr">
            <th>产线</th>
            <th>产品</th>
            <th>计划</th>
            <th>实际</th>
            <th>不良</th>
            <th>产线<br />人数</th>
            <th>达成率</th>
            <th>UPPH值</th>
            <th>一次<br />合格率</th>
            <th>T0<br />齐套率</th>
            <th>T1<br />齐套率</th>
            <th>T2<br />齐套率</th>
            <th>产线状态</th>
            <th>月度<br />完工数</th>
            <th>计划<br />达成率</th>
            <th>一次<br />合格率</th>
            <th>安灯<br />停线</th>
            <th>异常费用</th>
            <th>验货<br />合格率</th>
            <th>月度<br />离职率</th>
            <th>月度<br />UPPH值</th>
            <th>产线<br />退料金额<br />（料费）</th>
            <th>产线<br />退料金额<br />（工费）</th>
            <th>用电<br />统计</th>
          </tr>
        </thead>
        <tbody>
          <ng-container
            *ngFor="
              let line of linesData.dataset.result.linesData;
              index as lineIndex;
              trackBy: trackByIndex
            "
          >
            <tr
              [class.bg-tr]="lineIndex % 2 == 1"
              *ngFor="
                let row of line.todayData;
                index as i;
                count as num;
                trackBy: trackByIndex
              "
            >
              <td *ngIf="i === 0" [attr.rowspan]="num">
                <span class="link" (click)="handleShowYearData(line.name)">{{ line.name }}</span>
              </td>
              <td>{{ row[0] }}</td>
              <td>{{ row[1] }}</td>
              <td>{{ row[2] }}</td>
              <td>{{ row[3] }}</td>
              <td>{{ row[4] }}</td>
              <td>
                <span
                  class="link"
                  (click)="handleShowDetail(line.name, 'CompletenessInfos')"
                  >{{ row[5] }}%</span
                >
              </td>
              <td>{{ row[6] }}</td>
              <td>{{ row[7] }}%</td>
              <td>
                <span
                  class="link"
                  (click)="handleShowDayDetail(line.name, 'KitInfos0')"
                  >{{ row[8] }}%</span
                >
              </td>
              <td>
                <span
                  class="link"
                  (click)="handleShowDayDetail(line.name, 'KitInfos1')"
                  >{{ row[9] }}%</span
                >
              </td>
              <td>
                <span
                  class="link"
                  (click)="handleShowDayDetail(line.name, 'KitInfos2')"
                  >{{ row[10] }}%</span
                >
              </td>
              <ng-container *ngIf="i === 0">
                <td [attr.rowspan]="num">
                  <rh-status-timeline
                    class="block"
                    style="height: var(--rhv-size-4)"
                    [rhCurTime]="stateData.dataset.curTime"
                    [rhData]="line.stateData"
                    [rhStartTime]="stateData.dataset.createStartTime"
                    [rhEndTime]="stateData.dataset.createEndTime"
                    [rhBgColorMap]="stateColorMap"
                    [rhStateNameMap]="stateNameMap"
                  ></rh-status-timeline>
                  <div
                    class="w-full flex relative ruler-border"
                    style="height: var(--rhv-size-5-half)"
                  >
                    <div
                      *ngFor="let item of stateData.dataset.timelineTicks"
                      class="flex-1 h-full tick-border tick-name"
                    >
                      {{ item }}
                    </div>
                    <div class="tick-name">
                      {{ stateData.dataset.lastTick }}
                    </div>
                  </div>
                </td>
                <ng-container *ngIf="line.monthlyData as monthlyData">
                  <td [attr.rowspan]="num">
                    <!-- /ZhuSuCheJian/GetZhusuGraphLineDashboard_DailyFinishQty -->
                    <span
                      class="link"
                      (click)="handleShowDetail(line.name, 'DailyFinishQty')"
                      >{{ monthlyData[0] }}</span
                    >
                  </td>
                  <td [attr.rowspan]="num">
                    <!-- ZhuSuCheJian/GetZhusuGraphLineDashboard_DailyFinishRate -->
                    <span
                      class="link"
                      (click)="handleShowDetail(line.name, 'DailyFinishRate')"
                      >{{ monthlyData[1] }}%</span
                    >
                  </td>
                  <td [attr.rowspan]="num">
                    <!-- /ZhuSuCheJian/GetZhusuGraphLineDashboard_DailyQualifiedRate -->
                    <span
                      class="link"
                      (click)="
                        handleShowDetail(line.name, 'DailyQualifiedRate')
                      "
                      >{{ monthlyData[2] }}%</span
                    >
                  </td>
                  <td [attr.rowspan]="num">
                    <span
                      class="link"
                      (click)="handleShowDetail(line.name, 'AndonInfos')"
                      >{{ monthlyData[3][0]
                      }}<!-- /{{ monthlyData[2][1] }} --></span
                    >
                  </td>
                  <td [attr.rowspan]="num">
                    <span
                      class="link"
                      (click)="
                        handleShowDetail(line.name, 'ExceptionHandledInfos')
                      "
                      >{{ monthlyData[4] }}</span
                    >
                  </td>
                  <td [attr.rowspan]="num">
                    <span
                      class="link"
                      (click)="handleShowDetail(line.name, 'InspectionInfos')"
                      >{{ monthlyData[5] }}%</span
                    >
                  </td>
                  <td [attr.rowspan]="num">
                    <span
                      class="link"
                      (click)="handleShowDetail(line.name, 'EmployeeInfos')"
                      >{{ monthlyData[6] }}%</span
                    >
                  </td>
                  <td [attr.rowspan]="num">
                    <!-- /ZhuSuCheJian/GetZhusuGraphLineDashboard_DailyUpph -->
                    <span
                      class="link"
                      (click)="handleShowDetail(line.name, 'DailyUpph')"
                      >{{ monthlyData[7] }}%</span
                    >
                  </td>
                  <td [attr.rowspan]="num">
                    <span
                      class="link"
                      (click)="handleShowDetail(line.name, 'BadMaterialInfos')"
                      >{{ monthlyData[8] }}</span
                    >
                  </td>
                  <td [attr.rowspan]="num">
                    <span
                      class="link"
                      (click)="handleShowDetail(line.name, 'BadMaterialInfos2')"
                      >{{ monthlyData[9] }}</span
                    >
                  </td>
                  <td [attr.rowspan]="num">{{ monthlyData[10] }}</td>
                </ng-container>
              </ng-container>
            </tr>
          </ng-container>
          <tr
            *ngIf="linesData.dataset.result.summaryData as summary"
            [class.bg-tr]="linesData.dataset.result.linesData.length % 2 == 1"
          >
            <td>{{ summary[0] }}</td>
            <td>{{ summary[1] }}</td>
            <td>{{ summary[2] }}</td>
            <td>{{ summary[3] }}</td>
            <td>{{ summary[4] }}</td>
            <td>{{ summary[5] }}</td>
            <td>{{ summary[6] }}%</td>
            <td>{{ summary[7] }}</td>
            <td>{{ summary[8] }}%</td>
            <td>{{ summary[9] }}%</td>
            <td>{{ summary[10] }}%</td>
            <td>{{ summary[11] }}%</td>
            <td></td>
            <td>{{ summary[13] }}</td>
            <td>{{ summary[14] }}%</td>
            <td>{{ summary[15] }}%</td>
            <td>
              {{ summary[16][0]
              }}<!-- /{{ summary[12][1] }} -->
            </td>
            <td>{{ summary[17] }}</td>
            <td>{{ summary[18] }}%</td>
            <td>{{ summary[19] }}%</td>
            <td>{{ summary[20] }}</td>
            <td>{{ summary[21] }}</td>
            <td>{{ summary[22] }}</td>
            <td>{{ summary[23] }}</td>
          </tr>
        </tbody>
      </nz-table>
      <nz-spin
        *ngIf="todayData.dataset.dataLoading"
        nzTip="数据获取中，请稍等..."
        class="w-full h-full absolute"
        style="top: 0; left: 0; width: 30%"
        nzSize="large"
      >
      </nz-spin>
      <nz-spin
        *ngIf="stateData.dataset.dataLoading"
        nzTip="数据获取中，请稍等..."
        class="w-full h-full absolute"
        style="top: 0; left: 30%; width: 40%"
        nzSize="large"
      >
      </nz-spin>
      <nz-spin
        *ngIf="monthData.dataset.dataLoading"
        nzTip="数据获取中，请稍等..."
        class="w-full h-full absolute"
        style="top: 0; right: 0; width: 30%"
        nzSize="large"
      >
      </nz-spin>
    </div>
  </div>
</rh-page-frame>

<nz-modal
  [(nzVisible)]="detailModalVisible"
  [nzTitle]="null"
  [nzBodyStyle]="{ padding: 0 }"
  [nzClosable]="false"
  [nzFooter]="null"
  nzWidth="80vw"
  (nzOnCancel)="detailModalVisible = false"
>
  <rh-item-container
    *ngIf="curDetailTable"
    [rhTitle]="curLineCode + (curDetailTable?.title || '')"
    style="width: 100%; height: 80vh"
  >
    <div class="w-full h-full overflow-hidden rhv-padding">
      <nz-table
        nzTemplateMode
        [nzScroll]="{ y: '76vh' }"
        [style.opacity]="detailDataLoading ? 0.7 : 1"
      >
        <thead>
          <tr>
            <th nzWidth="4rem">序号</th>
            <th
              *ngFor="let col of curDetailTable.columns; trackBy: trackByIndex"
              [nzWidth]="col.width"
            >
              {{ col.title }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let row of detailsData;
              index as i;
              count as num;
              trackBy: trackByIndex
            "
          >
            <td>{{ i + 1 }}</td>
            <td
              *ngFor="let col of curDetailTable.columns; trackBy: trackByIndex"
            >
              {{ row[col.key] }}
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <div class="export-btn-area">
      <span (click)="handleExportDetailsData()"> 导出 </span>
    </div>
    <nz-spin
      *ngIf="detailDataLoading"
      nzTip="数据获取中，请稍等..."
      class="w-full h-full absolute"
      style="top: 0; left: 30%; width: 40%"
      nzSize="large"
    >
    </nz-spin>
  </rh-item-container>
</nz-modal>

<nz-modal
  nzWidth="50vw"
  [nzTitle]="null"
  [nzFooter]="null"
  [nzBodyStyle]="{ padding: 0 }"
  [nzClosable]="false"
  [(nzVisible)]="workshopSelectModalVisible"
  (nzOnCancel)="workshopSelectModalVisible = false"
>
  <rh-item-container rhTitle="请选择车间">
    <div
      class="w-full flex flex-col overflow-hidden"
      style="height: 20vh; gap: 1rem; min-height: 200px; padding: 1rem"
    >
      <div class="select-list">
        <div
          class="item"
          [class.selected]="workshopInfo.dataset.category == item.category"
          (click)="onClickItem(item)"
          *ngFor="let item of workshopInfo.data; trackBy: trackByIndex"
        >
          <div>{{ item.category }}</div>
        </div>
      </div>
    </div>
  </rh-item-container>
</nz-modal>

<!-- 年度数据弹框 -->
<nz-modal
  [(nzVisible)]="yearModalVisible"
  [nzTitle]="null"
  [nzBodyStyle]="{ padding: 0 }"
  [nzClosable]="false"
  [nzFooter]="null"
  nzWidth="85vw"
  (nzOnCancel)="yearModalVisible = false"
>
  <rh-item-container
    [rhTitle]="curYearLineName + ' 年度数据统计'"
    style="width: 100%; height: 80vh"
  >
    <div class="w-full h-full overflow-hidden rhv-padding">
      <!-- Tab切换 -->
      <nz-tabset
        [nzSelectedIndex]="curYearTab === 'current' ? 0 : 1"
        (nzSelectedIndexChange)="handleYearTabChange($event === 0 ? 'current' : 'last')"
      >
        <nz-tab nzTitle="当年({{ currentYearValue }})">
        </nz-tab>
        <nz-tab nzTitle="去年({{ lastYearValue }})">
        </nz-tab>
      </nz-tabset>

      <!-- 年度数据表格 -->
      <nz-table
        nzTemplateMode
        [nzScroll]="{ y: '65vh' }"
        [style.opacity]="yearDataLoading ? 0.7 : 1"
        *ngIf="getCurYearData() as yearData"
      >
        <thead>
          <tr>
            <th nzWidth="10rem">指标</th>
            <th *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12]" nzWidth="5rem">{{ i }}月</th>
            <th nzWidth="6rem">年度汇总</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let row of transformYearDataToTableRows(yearData);
              index as i;
              trackBy: trackByIndex
            "
            [class.bg-tr]="i % 2 == 1"
          >
            <td>{{ row.indicator }}</td>
            <td *ngFor="let month of row.months; index as j; trackBy: trackByIndex">
              {{ formatYearValue(month, row.isPercent) }}
            </td>
            <td>{{ formatYearValue(row.yearSummary, row.isPercent) }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>

    <!-- 导出按钮 -->
    <div class="export-btn-area">
      <span (click)="handleExportYearData()"> 导出 </span>
    </div>

    <!-- 加载中提示 -->
    <nz-spin
      *ngIf="yearDataLoading"
      nzTip="数据获取中，请稍等..."
      class="w-full h-full absolute"
      style="top: 0; left: 30%; width: 40%"
      nzSize="large"
    >
    </nz-spin>
  </rh-item-container>
</nz-modal>
