:host {
  display: block;
}

.page-frame-main-wrapper {
  background-size: cover;
  background-repeat: no-repeat;
}

.board-title {
  font-weight: 700;
  font-size: calc(2.4 * var(--rhv-size));
  color: #fff;
  //box-shadow: 0px 0px 15px 0px #0070FF;
  letter-spacing: var(--rhv-size-1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Douyin Sans;
}

.board-left-area {
  display: flex;
  justify-content: flex-start;
  padding-left: 2%;
  align-items: flex-end;
  font-size: calc(5 * var(--rhv-size) / 3);
  font-family: DingTalk JinBuTi;
  font-weight: 400;
  font-style: Regular;
  //gap: var(--rhv-size-8);
}

.board-right-area {
  display: flex;
  justify-content: flex-end;
  padding-right: 2%;
  align-items: flex-end;
  font-size: calc(5 * var(--rhv-size) / 3);
  font-family: DingTalk JinBuTi;
  font-weight: 400;
  font-style: Regular;
  //gap: var(--rhv-size-8);
}

.divider {
  opacity: 0.4;
  background: #fff;
  width: 1px;
  height: var(--rhv-size-10-half);
}
