:root {
    --rhv-color-primary             : #29f2ff;
    --rhv-color-primary-rgb         : 41, 242, 255;
    --rhv-color-primary-contrast    : #000000;
    --rhv-color-primary-contrast-rgb: 0, 0, 0;
    --rhv-color-primary-shade       : #24d5e0;
    --rhv-color-primary-tint        : #3ef3ff;

    --rhv-color-secondary             : #83e0e5;
    --rhv-color-secondary-rgb         : 131, 224, 229;
    --rhv-color-secondary-contrast    : #000000;
    --rhv-color-secondary-contrast-rgb: 0, 0, 0;
    --rhv-color-secondary-shade       : #73c5ca;
    --rhv-color-secondary-tint        : #8fe3e8;

    --rhv-color-tertiary             : #142666;
    --rhv-color-tertiary-rgb         : 20, 38, 102;
    --rhv-color-tertiary-contrast    : #ffffff;
    --rhv-color-tertiary-contrast-rgb: 255, 255, 255;
    --rhv-color-tertiary-shade       : #12215a;
    --rhv-color-tertiary-tint        : #2c3c75;

    --rhv-color-success             : #37BB59;
    --rhv-color-success-rgb         : 55, 187, 89;
    --rhv-color-success-contrast    : #000000;
    --rhv-color-success-contrast-rgb: 0, 0, 0;
    --rhv-color-success-shade       : #30a54e;
    --rhv-color-success-tint        : #4bc26a;

    --rhv-color-warning             : #f08c00;
    --rhv-color-warning-rgb         : 240, 140, 0;
    --rhv-color-warning-contrast    : #000000;
    --rhv-color-warning-contrast-rgb: 0, 0, 0;
    --rhv-color-warning-shade       : #d37b00;
    --rhv-color-warning-tint        : #f2981a;

    --rhv-color-danger             : #e03131;
    --rhv-color-danger-rgb         : 224, 49, 49;
    --rhv-color-danger-contrast    : #000000;
    --rhv-color-danger-contrast-rgb: 0, 0, 0;
    --rhv-color-danger-shade       : #c52b2b;
    --rhv-color-danger-tint        : #e34646;

    --rhv-color-light             : #f4f5f8;
    --rhv-color-light-rgb         : 244, 245, 248;
    --rhv-color-light-contrast    : #000000;
    --rhv-color-light-contrast-rgb: 0, 0, 0;
    --rhv-color-light-shade       : #d7d8da;
    --rhv-color-light-tint        : #f5f6f9;

    --rhv-color-medium             : #92949c;
    --rhv-color-medium-rgb         : 146, 148, 156;
    --rhv-color-medium-contrast    : #000000;
    --rhv-color-medium-contrast-rgb: 0, 0, 0;
    --rhv-color-medium-shade       : #808289;
    --rhv-color-medium-tint        : #9d9fa6;

    --rhv-color-dark             : #222428;
    --rhv-color-dark-rgb         : 34, 36, 40;
    --rhv-color-dark-contrast    : #ffffff;
    --rhv-color-dark-contrast-rgb: 255, 255, 255;
    --rhv-color-dark-shade       : #1e2023;
    --rhv-color-dark-tint        : #383a3e;
}