/**
 * @ Author: zhoujs
 * @ Create Time: 2020-10-11 10:15:14
 * @ Modified by: zhoujs
 * @ Modified time: 2024-04-15 10:56:11
 * @ Description:
 */

.rhv-flex-row {
    display       : flex;
    flex-direction: row;
}

.rhv-flex-col {
    display       : flex;
    flex-direction: column;
}

.rhv-flex-1 {
    flex    : 1;
    overflow: hidden;
}

.rhv-flex-center {
    justify-content: center;
    align-items    : center;
}

.rhv-align-self-start {
    align-self: flex-start !important;
}

.rhv-align-self-end {
    align-self: flex-end !important;
}

.rhv-align-self-center {
    align-self: center !important;
}

.rhv-align-self-stretch {
    align-self: stretch !important;
}

.rhv-align-self-baseline {
    align-self: baseline !important;
}

.rhv-align-self-auto {
    align-self: auto !important;
}

.rhv-wrap {
    flex-wrap: wrap !important;
}

.rhv-nowrap {
    flex-wrap: nowrap !important;
}

.rhv-wrap-reverse {
    flex-wrap: wrap-reverse !important;
}

.rhv-justify-content-start {
    justify-content: flex-start !important;
}

.rhv-justify-content-center {
    justify-content: center !important;
}

.rhv-justify-content-end {
    justify-content: flex-end !important;
}

.rhv-justify-content-around {
    justify-content: space-around !important;
}

.rhv-justify-content-between {
    justify-content: space-between !important;
}

.rhv-justify-content-evenly {
    justify-content: space-evenly !important;
}

.rhv-align-items-start {
    align-items: flex-start !important;
}

.rhv-align-items-center {
    align-items: center !important;
}

.rhv-align-items-end {
    align-items: flex-end !important;
}

.rhv-align-items-stretch {
    align-items: stretch !important;
}

.rhv-align-items-baseline {
    align-items: baseline !important;
}