/**
 * @ Author: zhoujs
 * @ Create Time: 2020-10-11 10:11:32
 * @ Modified by: zhoujs
 * @ Modified time: 2020-10-11 10:12:37
 * @ Description:
 */

.rhv-float-left {
    float: left !important;
}

.rhv-float-right {
    float: right !important;
}

.rhv-float-start {
    float: left !important;
}

[dir=rtl] .rhv-float-start,
:host-context([dir=rtl]) .rhv-float-start {
    float: right !important;
}

.rhv-float-end {
    float: right !important;
}

[dir=rtl] .rhv-float-end,
:host-context([dir=rtl]) .rhv-float-end {
    float: left !important;
}