.rhv-font-size-0 {
    font-size: var(--rhv-size-0);
}

.rhv-font-size-0-half {
    font-size: var(--rhv-size-0-half);
}

.rhv-font-size-1 {
    font-size: var(--rhv-size-1);
}

.rhv-font-size-1-half {
    font-size: var(--rhv-size-1-half);
}

.rhv-font-size-2 {
    font-size: var(--rhv-size-2);
}

.rhv-font-size-2-half {
    font-size: var(--rhv-size-2-half);
}

.rhv-font-size-3 {
    font-size: var(--rhv-size-3);
}

.rhv-font-size-3-half {
    font-size: var(--rhv-size-3-half);
}

.rhv-font-size-4 {
    font-size: var(--rhv-size-4);
}

.rhv-font-size-4-half {
    font-size: var(--rhv-size-4-half);
}

.rhv-font-size-5 {
    font-size: var(--rhv-size-5);
}

.rhv-font-size-5-half {
    font-size: var(--rhv-size-5-half);
}

.rhv-font-size-6 {
    font-size: var(--rhv-size-6);
}

.rhv-font-size-6-half {
    font-size: var(--rhv-size-6-half);
}

.rhv-font-size-7 {
    font-size: var(--rhv-size-7);
}

.rhv-font-size-7-half {
    font-size: var(--rhv-size-7-half);
}

.rhv-font-size-8 {
    font-size: var(--rhv-size-8);
}

.rhv-font-size-8-half {
    font-size: var(--rhv-size-8-half);
}

.rhv-font-size-9 {
    font-size: var(--rhv-size-9);
}

.rhv-font-size-9-half {
    font-size: var(--rhv-size-9-half);
}

.rhv-font-size-10 {
    font-size: var(--rhv-size-10);
}

.rhv-font-size-10-half {
    font-size: var(--rhv-size-10-half);
}