/**
 * @ Author: zhoujs
 * @ Create Time: 2020-10-11 10:18:26
 * @ Modified by: zhoujs
 * @ Modified time: 2020-10-11 10:19:23
 * @ Description:
 */

.rhv-text-uppercase {

    text-transform: uppercase !important;
}

.rhv-text-lowercase {

    text-transform: lowercase !important;
}

.rhv-text-capitalize {

    text-transform: capitalize !important;
}