/**
 * @ Author: zhoujs
 * @ Create Time: 2020-10-11 09:40:03
 * @ Modified by: zhoujs
 * @ Modified time: 2024-04-15 10:03:29
 * @ Description:
 */


.rhv-text-center {
    text-align: center !important;
}

.rhv-text-justify {
    text-align: justify !important;
}

.rhv-text-start {
    text-align: start !important;
}

.rhv-text-end {
    text-align: end !important;
}

.rhv-text-left {
    text-align: left !important;
}

.rhv-text-right {
    text-align: right !important;
}

.rhv-text-nowrap {
    white-space: nowrap !important;
}

.rhv-text-wrap {
    white-space: normal !important;
}